p{
    background-color: #50DBB4 ;
    color: #000000; 
    padding: 30px;
    text-align: center;
}
button{
   /* background-color: #414141;
    color: aliceblue;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;*/
    padding:50px 100px 50px ;
    background-color: aqua;

}
body{
    background-color: white;
}